.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.App-header {
  height: 33vh; /* 전체 높이의 1/3 */
  /* background-image: url('C:\Users\Administrator\Desktop\react\study\public\images\mountain.avif'); 배경 이미지 설정 */
  background-size: cover; /* 이미지 크기 조정 */
  background-position: center; /* 이미지 중앙 정렬 */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.book-title {
  text-align: center; /* 중앙 정렬 */
  font-size: 2rem; /* 폰트 크기 */
  margin: 20px; /* 여백 */
  /* 추가적인 스타일링 */
}


body {
  /* background-color: #EBEBED; */
  /* background-color: #EEE9E1; */
  background-color: #FFFFFF;
}