/* src/components/Book.module.css */


.bookImage {
    width : 360px;
    height: 300px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin: 0px;
}


.boookText {
    font-size: 16px;
    line-height: 1.5;
}

.book-page {
    font-size: 1.5rem;
    margin: 20px;
    padding:10px;
    line-height: 1.5;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }


.quizButton {
    width: 90%;
    padding: 10px;
    background-color: #4169ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.buttonContainer {
    position: fixed; /* 고정 위치 */
    bottom: 50; /* 화면 하단에 위치 */
    left: 0; /* 화면 왼쪽에 위치 */
    width: 100%; /* 전체 너비 */
    display: flex;
    justify-content: center;
    padding: 10px; /* 적당한 패딩 */
    background-color: #f8f8f8; /* 배경 색상 */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 */
}

.bookContentsDiv {
    padding: 10px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upNavy {
    width: 100%;
    background-color: rgb(255, 255, 255);
}



.ebookContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.Backbutton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #72afff; /* 녹색 배경 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .Backbutton:hover {
    background-color: #45a049; /* 버튼 호버 시 색상 변경 */
  }
  
  .Backbutton:focus {
    outline: none; /* 포커스 시 윤곽선 제거 */
  }
  
  /* 공통 애니메이션 효과 */
  @-webkit-keyframes backbutton-hover {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  
  @keyframes backbutton-hover {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  
  /* 호버 시 애니메이션 적용 */
  .Backbutton:hover {
    -webkit-animation: backbutton-hover 0.5s ease-in-out;
    animation: backbutton-hover 0.5s ease-in-out;
  }
  