.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 추가: 가운데 정렬 */
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    min-height: 80vh;
  }
  .formGroup {
    width: 90%; /* 폼 그룹의 너비를 전체로 설정 */
    margin-bottom: 10px;
    padding: 20px;
    background-color: #F4F4F4;
    display: flex; /* flexbox 사용 */
    flex-direction: column; /* 아이템을 세로로 정렬 */
    align-items: start; /* 아이템들을 시작 지점에 정렬 (왼쪽) */
    border-radius: 15px;
    box-shadow: 0px 0.75px 0.5px rgba(0, 0, 0, 0.1);
    
    
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .button {
    width: 330px;
    padding: 10px;
    background-color: #a3a3e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .inputField {
    width: 60%; /* 폭을 부모 요소의 100%로 설정 */
    padding: 4px; /* 패딩 추가 */
    margin: 8px 0; /* 상하 마진 추가 */
    display: inline-block; /* 인라인 블록 요소로 설정 */
    background-color: #C6C6E8;
    border: 1px solid #C6C6E8; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 둥글게 */
    box-sizing: border-box; /* 박스 사이징 방법을 border-box로 설정 */
  }
  
  .inputField:focus {
    border-color: #a3a3e4; /* 포커스 시 테두리 색 변경 */
    outline: none; /* 기본 아웃라인 제거 */
    border-width: 3px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    
  }


.registerImage {
  width: 50%; /* 이미지의 폭 설정 */
  height: auto; /* 이미지의 높이를 뷰포트 높이의 절반으로 설정 */
  
  object-fit: cover; /* 이미지가 컨테이너 안에서 잘리지 않도록 함 */
}


.imageContainer {
  width: 100%; /* 컨테이너의 너비를 전체 폭으로 설정 */
  display: flex;
  background-color: #EBEAF0;
  border-radius:15px;
  justify-content: center; /* 중앙 정렬 */
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
}


.circleProfile {
  width: 200px;
  height: 200px;
  background-color: #C6C6E8;
  border-radius: 50%;
}